---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="my-10">
  <h2 class="text-gray-500 text-xl px-12 md:px-52 2xl:px-96">{title}</h2>
  <p class="text-gray-400 text-left md:text-justify px-12 pt-4 md:px-52 2xl:px-96">{description}</p>
</div>
