---
import Header from "../components/Header/Header.astro";
import Section from "../components/Section/Section.astro";
import Experience from "../components/Experience/Experience.astro";
import Skills from "../components/Skills/Skills.astro";
import "@fontsource/source-sans-pro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="border w-40 md:w-60 m-auto"></div>
    <Section
      title="Sobre mí"
      description="Soy un profesional con experiencia en atención al cliente y desarrollo Front-end. Actualmente trabajo como front-end developer en Plexus desarrollando una aplicación para Openbank en el apartado de fondos de inversión en Argentina. He trabajado como Responsable de Atención al Cliente en IKEA, donde me he encargado de resolver problemas de manera efectiva. También he trabajado como Front-end developer en Enerclic, una empresa especializada en la fabricación de aparatos de monitorización del gasto energético, donde he sido responsable del desarrollo de la aplicación para visualizar los datos de consumo. Mi experiencia en ambos campos me ha permitido mejorar mis habilidades en comunicación, trabajo en equipo y resolución de problemas, así como en la creación de interfaces de usuario atractivas y funcionales para aplicaciones web. Estoy comprometido con la mejora continua y siempre busco nuevas oportunidades para seguir aprendiendo y desarrollándome profesionalmente. Por otro lado también soy graduado en fotografía."
    />
    <div class="border w-40 my-10 md:w-60 m-auto"></div>

    <h2 class="text-2xl text-gray-500 mt-10 px-12 md:px-52">Experiencia</h2>
    <Experience
      sectioType="experience"
      company="Plexus - Iberostar"
      date="2024-Actualidad"
      position="Front-end developer"
      description="Trabajé como Front-end developer para OPENBANK. Mi responsabilidad principal es desarrollar interfaces de usuario atractivas, interactiva. Además, colaboré estrechamente con otros miembros del equipo, incluyendo diseñadores, desarrolladores de backend."
    />

    <Experience
      sectioType="experience"
      company="Plexus - Openbank"
      date="2023-2024"
      position="Front-end developer"
      description="Trabajé como Front-end developer para OPENBANK. Mi responsabilidad principal es desarrollar interfaces de usuario atractivas, interactiva. Además, colaboré estrechamente con otros miembros del equipo, incluyendo diseñadores, desarrolladores de backend."
    />

    <Experience
      sectioType="experience"
      company="Plexus - Inditex"
      date="2022-2023"
      position="Front-end developer"
      description="Durante mi tiempo en Inditex, trabajé como Front-end developer. Mi responsabilidad principal era desarrollar y mantener interfaces de usuario atractivas, interactiva. Además, colaboré estrechamente con otros miembros del equipo, incluyendo diseñadores, desarrolladores de backend."
    />

    <Experience
      sectioType="experience"
      company="Enerclic"
      date="2021-2022"
      position="Front-end developer"
      description="Trabajé en Enerclic como front-end developer desarrollando la aplicación para la monitorización y control de datos. La aplicación está desarrollada con React y Material-UI en la parte de front-end y MySql en el back-end."
    />

    <Experience
      sectioType="experience"
      company="Ikea"
      date="2021-2022"
      position="Responsable de antención al cliente"
      description="Responsable del servicio de atención al cliente en Ikea San Sebastián de los Reyes. Resolución de incidencias, formador de sección y responsable de seguimiento y causas de las incidencias."
    />
    <div class="border w-40 my-10 md:w-60 m-auto"></div>

    <h2 class="text-2xl text-gray-500 mt-10 px-12 md:px-52">Formación</h2>
    <Experience
      sectioType="formation"
      company="IronHack Madrid"
      date="2021"
      position="Full-Stack Web developer Program"
      description="Bootcamp de desarrollo Web enfocado en tecnologías de front-end y back-end: HTML, CSS3, JavaScript, NodeJs, ExpressJs, MongoDB y React."
    />

    <Experience
      sectioType="formation"
      company="Universidad Rey Juan Carlos"
      date="2014-2018"
      position="Grado oficial en Fotografía"
      description="Grado oficial universitario en fotografía. Estudios de fotografía, realización y postproducción de video y gestión de contenido en entornos digitales."
    />

    <Experience
      sectioType="formation"
      company="Lambeth College London"
      date="2012-2013"
      position="Access course to University"
      description="Curso de acceso a la universidad en fotografía, video y edición digital."
    />

    <div class="border w-40 my-10 md:w-60 m-auto"></div>

    <h2 class="text-2xl text-gray-500 mt-10 px-12 md:px-52">Habilidades</h2>
    <Skills />
  </body>
  <button class="fixed bottom-2 right-2 p-2 rounded-full border-gray-500 bg-gray-200" onclick="window.print()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-printer text-gray-500"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path><path
        d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path><path
        d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"></path></svg
    >
  </button>
</html>

<style>
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
</style>
